<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="continer">
      <div class="side-container">
        <div class="side-student-container">
          <h1>Students</h1>
          <button class="btn side-btn" id="all-stu">Get All Students</button>
          <button class="btn side-btn" id="stu">Get Student Data</button>
          <button class="btn side-btn" id="create-stu">Create Student</button>
        </div>

        <div class="side-course-container">
          <h1>Courses</h1>
          <button class="btn side-btn" id="all-cour">Get All Courses</button>
          <button class="btn side-btn" id="cour">Get Course Data</button>
          <button class="btn side-btn" id="create-cour">Create Course</button>
        </div>
      </div>
      <div class="side-data-container"></div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
